footer{
    margin-top: auto;
    padding: 2.5rem 0 0.5rem 0;
    text-align: center;
    width: 100%;
}

footer p{
    color: #ccc;
    margin: 5px 0;
}

footer a{
    color: #ccc;
    margin: 5px 0;
}