.input-note{
    display: inline-block;
    width: 90%;
    max-width: 480px;
    padding: 1rem;
    margin: 1rem;

    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
}

.input-note input,.input-note textarea{
    font-family: "Montserrat", sans-serif;
    
    background-color: none;
    border: none;
    outline: none;

    resize: none;
    overflow-wrap: anywhere;
}

.input-note textarea{
    height: 5.5rem;
    resize: none;
    overflow-wrap: anywhere;
}

.input-note .title{
    width: 100%;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.input-note .content{
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.input-note .button-container{
    position: absolute;
    width: 90%;
    max-width: 480px;
    text-align: right;
    margin-left: -2.5rem;
    margin-top: -0.25rem;
}

.input-note .add-button{
    width: 2.5rem;
    height: 2.5rem;
    
    font-family: "McLaren", cursive;
    font-size: 1.3rem;

    color: #fff;
    background-color: #2D4263;
    border: none;
    border-radius: 50%;
}

.input-note .add-button:hover{
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
}