.note{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 1rem;
    /* min-width: 232px;
    max-width: 30%; */
    margin: 0.5rem;
    float: left;
    text-align: left;
}

.note h1{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.note p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.note .button-container{
    width: 100%;
    text-align: right;
}

.note .delete-button{
    outline: none;
    border: none;
    padding: 0.1rem;

    background-color: transparent;
    font-weight: bold;
    color: #2D4263;
}

.note .delete-button:hover{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}


 @media screen and (max-width: 600px) {
    .note{
        min-width: 0%;
        max-width: 100%;
        width: 46%;
        margin: 0.5rem 2%;
    }
 }

 @media only screen and (min-width: 600px) {
    .note{
        width: 46%;
        margin: 0.5rem min(0.5rem, 2%);
    }
 }
 
 @media only screen and (min-width: 900px) {
    .note{
        width: 31%;
        margin: 0.5rem min(0.5rem, 2%);
    }
 }
 
 @media only screen and (min-width: 1200px) {
    .note{
        width: 31%;
        margin: 0.5rem min(0.5rem, 2%);
    }
 }
 
 @media only screen and (min-width: 1200px) {
    .note{
        width: 23%;
        margin: 0.5rem min(0.5rem, 2%);
    }
 } 