*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", sans-serif;
}

body{
    background: #fff;
}

button{
    cursor: pointer;
}

/* Layout Affecting Styles */
.layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.center-container{
    text-align: center;
}

.center{
    margin: auto;
}

.mb1{ margin-bottom: 1rem; }
.mb2{ margin-bottom: 2rem; }
.mb3{ margin-bottom: 3rem; }
.mb4{ margin-bottom: 4rem; }
.mb5{ margin-bottom: 5rem; }

.mt1{ margin-top: 1rem; }
.mt2{ margin-top: 2rem; }
.mt3{ margin-top: 3rem; }
.mt4{ margin-top: 4rem; }
.mt5{ margin-top: 5rem; }

/* Generic Page Element Styles */
.page{
    width: 90%;
    margin: 0 auto 0 auto;
    position: relative;
}

.title{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.title-text,.big-text,.small-text,.error-text,.nav-link{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

.title-text{
    font-weight: 600;
    font-size: 2rem;
}

.big-text{
    font-size: 1.5rem;
    font-weight: 600;
}

.small-text{
    font-size: 0.8rem;
}

.error-text{
    font-size: 0.9rem;
    color: red;
}

.nav-link{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/* Form Specific Styles */
.form-container{
    width: 250px;
    margin: auto;
    position: relative;
}

.form-button{
    width: 100%;
    height: 2rem;

    background-color: #2D4263;
    outline: none;
    border: none;
    border-radius: 5px;

    color: #ffffff;
    font-family: "McLaren", cursive;
    font-weight: 200;

    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
}

/* Notes Page Container */
.notes-container {
    column-count: 4;
    column-gap: 1rem;
}

/* OAuth Styles */
.oauth-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.oauth-button{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.5rem 0 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;
    border-radius: 5px;

    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.google-oauth{
    background-color: #ffffff;
}

.facebook-oauth{
    font-size: 1.7rem;
    color: white;
    background-color: #3b5998;
}

.discord-oauth{
    font-size: 1.7rem;
    color: white;
    background-color: #5865F2;
}

/* Animation Styles */
.start-right{
    opacity: 0;
    left: 15rem;
}

.slide-left-appear{
    transition: all 0.5s;
    opacity: 1;
    transform: translate(-15rem, 0);
}

.slide-left-disappear{
    transition: all 0.5s;
    opacity: 0;
    transform: translate(-30rem);
}

.fade-out{
    transition: all 0.5s;
    opacity: 0;
}

.shake-lr-animation{
    animation: shake-lr 0.5s forwards;
}

@keyframes shake-lr{
    0% {transform: translate(0rem, 0)}
    20% {transform: translate(0.2rem, 0)}
    40% {transform: translate(-0.2rem, 0)}
    60% {transform: translate(0.2rem, 0)}
    80% {transform: translate(-0.2rem, 0)}
    100% {transform: translate(0rem, 0)}
}

/* Media Break Points */
@media screen and (max-width: 992px){
    :root{
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px){
    .notes-container {
        column-count: 1;
    }
}

@media only screen and (min-width: 600px){
    .notes-container {
        column-count: 2;
    }
}

@media only screen and (min-width: 992px){
    .notes-container {
        column-count: 3;
    }
}

@media only screen and (min-width: 1600px){
    .notes-container {
        column-count: 4;
    }
}